<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/CSS/home.css" />
    <link rel="stylesheet" href="/CSS/main.css" />
    <link rel="stylesheet" href="/CSS/auth.css" />
    <link rel="stylesheet" href="/CSS/video_info.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Nabla&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />
    <title>Post</title>
  </head>

  <body>
    <%- include('partials/navbar'); %>
    <div class="landing-video">
      <div class="video">
        <video class="video_for" src="<%=post.video_url.url%>" controls></video>
        <div
          style="
            display: flex;
            align-items: center;
            margin-top: 10px;
            margin-bottom: 10px;
          "
        >
          <img
            src="<%=post.user?.avatar.url%>"
            alt=""
          />
          <p style="margin-left: 5px"><%=post.user?.name%></p>
        </div>
        <div style="color: white">
        
          <span
            style="text-decoration: underline; display: block; margin-top: 5px"
          >
            <i style="margin-right: 5px" class="bi bi-music-note"></i> <%=post.musicTitle%>
          </span>
        </div>
      </div>

      <div class="comments-hero">
        <div class="comment-section">
          <div style="display:flex;justify-content:center;margin-bottom:10px;font-weight: bold;">Comments</div>
          <div style="height: 390px; overflow-y: scroll">
            <% if(post.comments.length>0) { %> 
              <%post.comments.forEach(comment => { %> 
            <div style="display: flex; margin-bottom: 10px">
              <div> 
                
                <% if(comment.user?.avatar?.url) {%>
                  <img
                  src="<%=comment.user.avatar.url%>"
                  alt=""
                />
                <%}%>
                <%if(!comment.user?.avatar?.url){%>
                  <img
                  src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
                  alt=""
                  />
                <%}%>
              </div>
              <div style="margin-left: 5px; color: gray">
                <span style="font-weight: bold; color: white"><%=comment.user.name%></span>
                 <%=comment.comment%>
              </div>
            </div> 
            <%})%>
            <% }else{ %>
            <div style="display:flex;justify-content:center;">
              <p>NO COMMENTS YET!</p>
            </div> 
            <% } %>
          </div>
          <form id="sushibaka" style="display: flex; align-items: center">
            <textarea rows="4" placeholder="Add your comment here!"></textarea>
            <button style="margin-left: 10px">Post</button>
          </form>
        </div>
      </div>
      <div class="add-btn">
        <a href="/upload" style="text-decoration: none; color: antiquewhite">
          <i class="bi bi-plus-circle"></i>
        </a>
      </div>
    </div>
    <!-- comments section  -->
    <script>
      let videoId = window.location.href.split("/");
      videoId = videoId[videoId.length - 1];
      const sushibaka = document.getElementById("sushibaka");
      sushibaka.addEventListener("submit", async function (e) {
        e.preventDefault();
        const comment = e.target[0].value;
        try {
          const wasItOk = await fetch(
            `http://localhost:5000/comment/${videoId}`,
            {
              method: "PATCH",
              credentials: "same-origin",
              headers: {
                "Content-Type": "application/json",
                // 'Content-Type': 'application/x-www-form-urlencoded',
              },
              body: JSON.stringify({ comment: comment }),
            }
          );
          if (wasItOk.status === 200) {
            alert("Comment was added!");
            window.location.reload();
          }
          else {
            alert("Something went wrong!");
          }
        } catch (error) {
          console.log(error);
        }
      });
    </script>
  </body>
</html>
